@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

/* Custom Colors */
:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: hsl(192, 100%, 9%);
    --pale-blue:hsl(209, 15%, 59%);
}

*{
    padding:0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing:border-box;
}

h1{
    font-family: 'Poppins', sans-serif;
}

/* Utilities */

.container{
    width:80vw;
    margin:0 auto;
}



/* Elements */

.navbar{
    margin: 20px 50px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    display: flex;
}

.navbar .logo img{
    height: 30px;
    align-self: flex-start;
    margin: 0 5px;
}


.navbar .button{
    color: var(--pink);
    border: 1px var(--pink) solid;
    border-radius: 30px;
    padding: 8px 25px;
}

header{
    margin-top: 100px;
    text-align: center;
    color: var(--dark-cyan)
}

header .container .heading{
    font-weight: 700;
    margin-bottom: 30px;
    font-size:40px;
}
header .container p{
    width:45vw;
    margin: 0 auto;
}

header .container .button{
    display: inline-block;
    margin-top: 50px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 20px 60px;
    background-color: var(--pink);
    border-radius: 50px;
    cursor: pointer;
}

.img-sm{
    width: 80vw;
    margin: 60px 0px;    
}

.statistics{
    display: flex;
    justify-content: space-around;
}
s
.statistics h1{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: var(--dark-cyan);
}

.statistics p{
    font-size: 16px;
    text-align:center;
    color: var(--pale-blue);
}

.grow{
    margin: 80px auto;
    display:flex;
}

.textual{
    width: 39vw;
    display: inline-block;
    align-self: center;
}
.grow .textual h1{
    display:inline-block;
    color:var(--dark-cyan);
    margin-bottom:10px;
}

.grow .textual p{
    display:inline-block;
    color: var(--pale-blue);
    width: 35vw;
    
}

.img-grow{
    width: 39vw;
}

.flow{
    display:flex;
}   

.img-flow{
    width:38vw;
}

.flow .textual-flow{
    width: 38vw;
    display: inline-block;
    align-self: center;
    margin-left: 4vw;
}

.flow .textual-flow h1{
    display:inline-block;
    color:var(--dark-cyan);
    margin-bottom:10px;    
}

.flow .textual-flow p{
    display:inline-block;
    color: var(--pale-blue);
    width: 35vw;
}

.container .question{
    margin: 130px auto 40px auto;
    color: var(--dark-cyan);
    text-align: center;
}

.container .button{
    display: inline-block;
    margin-top: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 20px 60px;
    background-color: var(--pink);
    border-radius: 50px;
    cursor: pointer;
    margin: auto;
}

footer{
    margin-top:150px;
}

footer img{    
    background-repeat: no-repeat;
    width: 100vw;
    margin:0px;
    padding: 0px;
    vertical-align: middle;  
}

footer .dark{
    padding-top: 80px;
    background-color: var(--dark-cyan);
    min-height: 300px;
}

.flex-information{
    display: flex;
    justify-content: space-around;
}
.information{
    color: white;
    width: 50%;
}

.information img{
    filter: brightness(0) invert(1);
    width: 200px;
}

.information p{
    width: 70%;
    font-size: 14px;
    margin: 30px 0px;
}

.information .information-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 15px;
}

.information .icon-text {
    display: inline-block;
    margin-top: 0px;
    margin-bottom:10px;
}

.newsletter{
    display: inline-block;
    width: 48%;
    color:white;
}

.newsletter h3{
    text-transform: uppercase;
}

.newsletter p{
    font-size: 14px;
    margin: 30px 0;
}

.newsletter input{
    padding: 5px;
    height: 40px;
    width: 270px;
    border-radius: 8px;
}

.newsletter .submit{
    height: 40px;
    width: 150px;
    background-color: var(--pink);
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
}


/* Media Queries */

@media(max-width:375px){
       .navbar{
        margin: 10px 20px;
       }
       
       .navbar .logo img{
        height: 20px;
       }
       .navbar .button {
        font-size: 14px;
        padding:6px 22px;
       }

       /* 
       .container{
        width: 90vw;
       } */

       header .container .heading{
        font-size: 25px;
       }

       header .container p{
        width: 100%;
       }

       header .container .button {
        padding: 15px 40px;
        font-size: 0.9rem;
       }
       .statistics{
        flex-direction: column;
       }

       .statistics .box{
        width: 55%;
        margin:auto;
        margin-bottom: 30px;
       }

       .icon-statistics{
        height: 30px;
       }

       .box h1{
        font-size: 60px;
       }

       .grow{
        flex-direction: column-reverse;
       }

       .img-grow{
        width: 100%;
       }

       .grow .textual, .flow .textual-flow{
        width: 100%;
       }

       .grow .textual h1, .textual-flow h1{
        font-size: 20px;
        text-align:center;
        display: block;
        margin-top: 100px;
       }

       .grow .textual p{
        width: 100%;
        text-align:center;
       }

       .flow{
        flex-direction: column;
       }

       .img-flow{
        width:100%;
       }
       .textual-flow h1{
        justify-self: center;
       }

}