/* Globals */
* {
    font-family: 'Bai Jamjuree' ,sans-serif;
}

.dgb{
    color:hsl(210, 10%, 33%);
}

.gb{
    color:hsl(201, 11%, 66%);
}

.m-20p{
    margin-top:20px;
}

body{
    margin:0px;
    padding:0px;
}

.first-container{
    position:relative;
    height:70vh;
}

.second-container{
    margin-top: 7vh;
}
.third-container{
    margin-top: 10vh;
}

.forth-container{
    margin-top: 15vh;
}

/* Elements */

.head-image{
    position:absolute;
    height:300px;
    width:100vw;
    z-index: -1;    
}

.main-logo{
    position:absolute;
    z-index:1;
    top:20vh;
    left: 50%;
    margin: -40px 0px 0px -40px;
    height:80px;
}
.center{
    position:absolute;
    top:32vh;
    left:50%;
    width: 70vw;
    margin-left:-35vw;
    z-index:1;
}

.main-heading{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.paragraph{
    text-align: center;
    width: 50vw;
    margin:auto;
}

.buttons{
    margin-top: 30px;
    margin:auto;
    position: absolute;
    left:50%;
    margin-top: 5vh;
    margin-left:-188px;
}

.b-ios, .b-mac{
    display: inline-block;
    padding: 10px 25px;
    color:white;
    font-weight: 400;
    border-radius: 20px;
    margin:0px 5px;
    transition: background-color 300ms;

}

.b-ios:hover, .b-mac:hover{
    cursor: pointer;
}

.b-ios{
    background-color: hsl(171, 66%, 44%);
}
.b-ios:hover{
    background-color: hsl(172, 29%, 56%);
}

.b-mac{
    background-color: hsl(233, 100%, 69%);
}

.b-mac:hover{
    background-color: hsl(233, 97%, 76%);
}

.heading{
    font-weight: 600;
    font-size:30px;
    margin:auto;
    text-align:center;
}

#p2{
    margin-top: 20px;
    width: 65vw;
}

#img-c3{
    width:50vw;
    float:left;
}

.text-part-c3{
    display:inline-block;
    width: 28vw;
    box-sizing: border-box;
    margin-left:7vw;
    margin-right: 15vh;
    margin-top: 12vh;
}

.th-c3{
    font-weight: 600;
    font-size: 20px;
    margin:2vh;
    margin-left:0px;
}
.tp-c3{
    margin-bottom:10vh;
    font-size:14px;
}

#p4{
    margin-top: 20px;
    width:65vw;
}

#img-devices{
    width:75vw;
    display: block;
    margin:auto;
    margin-top: 5vh;
}

#p5{
    margin-top: 20px;
    width: 65vw;
}

.services{
    width: 80vw;
    height: 50vh;
    margin:auto;
    margin-top:10vh;
}

.service-box{
    width: 25vw;
    display:inline-block;
    text-align:center;
    vertical-align: top;
}

.img-sb{
    height:5vh;
    margin-bottom: 5vh;
}

.heading-sb{
    font-weight: 600;
    font-size:20px;
    margin-bottom: 2.5vh;
}

.p-sb{
    margin: 0 2.5vw;
}

.companies{
    width: 80vw;
    margin: auto;
}

.img-com{
    width: 10vw;
    margin:0vw 2.5vw;
}

.sixth-container{
    margin-top: 20vh;
    margin-bottom: 40vh;
}

.sixth-heading{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5vh;
}

footer {
    height: 18vh;
    background-color: hsla(180, 1%, 34%, 0.123);
}

footer img {
    height: 8vh;
    margin: 5.5vh 0 0 12vw;
}

.links{
    display: inline-block;
    margin-left: 10vw;
    vertical-align: top;
    margin-top:1.5vh;
}

.divider{
    box-sizing: border-box;
    height: 8vh;
    margin-top: 3vh;
    margin-right: 6vw;
    display: inline-block;
    vertical-align: top;
}

.link{
    padding-top: 1vh;
    color: hsla(180, 1%, 34%, 0.63);
    transition: color 300ms;
}

.link:hover{
    color:hsla(180, 1%, 34%, 0.836);
    cursor:pointer;
}

.socials{
    display: inline-block;
    margin-left: 10vw;
    vertical-align: top;
    margin-top:1.5vh;
}
.img-social{
    height: 3vh;
    margin-left: 3vh;
}