body{
    margin:0px;
    padding:0px;
    background-color: hsl(233, 47%, 7%);
    color:white;
}
/* Global */

.main-paragraph-white{
    color:hsla(0, 0%, 100%, 0.75);
}

.stat-heading-white{
    color: hsla(0, 0%, 100%, 0.6);
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lexend+Deca&display=swap');

/* Elements */
.container{
    margin: auto;
    margin-top: 15vh;
    box-sizing: border-box;
    width: 1000px;
    height:400px;
    background-color: hsl(244, 38%, 16%);
    border-radius:10px;
}

.text-part{
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    
}

.image {
    float:right;
    height:400px;
    width:500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.heading{
    font-family:'Inter', sans-serif;
    font-weight:600;
    font-size:30px;
    margin: 50px 0px 40px 50px;
}

.soft-violet{
    color: hsl(277, 64%, 61%);
    display:inline;
}

.paragraph{
    font-family:'Inter', sans-serif;
    font-weight:400;
    font-size:15px;
    margin-right:80px;
    margin-left:50px;
}

.links-block{
    margin-top:90px;
    margin-left:50px;
}
.link-box{
    display:inline-block;
}

.box-head{
    font-family:'Inter', sans-serif;
    font-weight:600;
    font-size:25px;
    display:block;
}
.box-child{
    text-transform: uppercase;
    font-family:'Lexend Deca', sans-serif;
    font-size:10px;
    margin-top: 5px;
}
.margin-lr{
    margin: 0px 50px;
}

/* Media Queries */

@media(max-width:375px){
    .container{
        min-height: 800px;
        width:340px;
        margin-top: 5vh;
        margin-bottom: 5vh;
        position:relative;
    }
    .image{
        width:340px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0px;
        height: 250px;
        position:absolute;
        top:0px;
    }
    .text-part{
        position: absolute;
        width:340px;
        top: 250px;
    }
    .heading, .paragraph{
        margin:30px 32px;
        text-align:center;
    }
    .links-block{
        box-sizing: border-box;
        height: 200px;
        width:100px;
        margin:auto;
        margin-top: 20px;
    }
    .link-box{
        display:block;
        margin:30px 0px !important;
        text-align:center;             
    }
    
}